<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>

		<form action="/admin/adicionarNoticia" method="post">
			<label>Título</label><br/>
			<input type="text" name="titulo" placeholder="Título da notícia"><br/>
			<label>Conteúdo</label><br/>
			<textarea name="conteudo" cols="30" rows="5"></textarea><br/>
			<input type="submit" value="Enviar">
		</form>
	</body>
</html>