<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>
		<h1>Notícias</h1>
		<table>
			<thead>
				<th>Id</th>
				<th>Título</th>
				<th>Conteúdo</th>
			</thead>
			<tbody>
				<% noticias.forEach((noticia) => { %>
					<tr>
						<td><%= noticia.idNoticia %></td>
						<td><%= noticia.titulo %></td>
						<td><%= noticia.conteudo %></td>
					</tr>
				<% }); %>
				</tbody>
		</table>
	</body>
</html>